.section--one {
	background: #1F2937;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 48px;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	list-style-type: none;
	display: flex;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}

.subsection {
	display: flex;
	align-items: flex-start;
}

.title {
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
}

.subtext {
	font-size: 18px;
	color: #E5E7EB;
}

.right--side {
	width: 600px;
	height: 250px;
	background: gray;
}


